*{
    box-sizing: border-box;
}
html,body{
    margin:0px;
}
.menu{
    border: 1px solid black;
    height: 40px;

}
.menu-options{
    height: 40px;
    border: 1px solid black;

}
.address{
    border: 1px solid black;
    height: 45px;
}
.cells{
    position: absolute;
    top: 30px;
    left: 40px;
}
.sheets{
    border: 1px solid black;
    height: 35px;
} 
.row{
    display: flex;/*After using this div will not remain block level means the problem is div is using 100 width*/

}
.col{
    min-width: 70px;/*After using display:flex use min-height and min width   */
    min-height: 30px;
    border: 1px solid;
}
.content{
    height: calc(100vh - 160px ); /*view port height* means humari window ki height se minus kiya hai 160px */
    border: 1px solid black;
    overflow: auto;
    position:relative;


}
.top-row {
    display: flex;
    position: absolute;
    left: 40px;
    top: 0px;
    background-color:lightgreen
}
.left-col {
    /* display: flex; */
    background-color: lightgreen;
    position: absolute;
    text-align: center;
}
.left-col-cell {
    border: 1px solid black;
    height: 30px;
    width: 40px;

}
.top-row-cell {
    min-height: 30px;
    min-width: 70px;
    border: 1px solid black;
}
.top-left-cell {
    background-color: aqua;
    border: 1px solid black;
    height: 30px;
    width: 40px;
}
